@import "tailwindcss";
#site {
  min-height: 100dvh;
  min-height: 100svh;
  min-height: 100lvh;
  min-height: 100vh;
  margin-inline: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(130 130 130 / var(--tw-bg-opacity, 1));
}

button {
  @apply cursor-pointer
          disabled:pointer-events-none
         transition-colors duration-200 ease-in-out;
}

svg {
  @apply transition-opacity duration-200 ease-in-out;
}

svg:hover {
  @apply opacity-60;
}

.product-description a {
  @apply text-blue-700 underline decoration-blue-700 decoration-2;
}

::selection {
  @apply bg-blue-300 text-white;
}
