@import "tailwindcss";
#site {
  min-height: 100dvh;
  min-height: 100svh;
  min-height: 100lvh;
  min-height: 100vh;
  margin-inline: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(130 130 130 / var(--tw-bg-opacity, 1));
}

.malyxia-text .dud {
  color: #7a0f14;
}
.malyxia-text .pre {
  color: #1a1a1a;
}

button {
  cursor: pointer;
}
