---
// ProductInfoBlock.astro

const { product } = Astro.props;
---

<div class="space-y-3">
  <!-- TITLE -->
  <h1 class="tracking-tight uppercase">
    {product.title}
  </h1>

  <!-- DESCRIPTION -->
  <div class="text-xs leading-4 opacity-80">
    <Fragment set:html={product.descriptionHtml} />
  </div>
</div>
