---
// src/pages/cart.astro
import DefaultLayout from "../layouts/DefaultLayout.astro";
import CartView from "../components/Cart/CartView.svelte";
---

<DefaultLayout>
  <h1 class="text-3xl font-bold max-w-4xl mx-auto px-4 mb-6 pt-10">
    Your Cart
  </h1>
  <CartView client:load />
</DefaultLayout>
