---
import "../styles/global.css";
import "../styles/layout.css";
import TheNavigation from "../components/TheNavigation.astro";
import TheFooter from "../components/TheFooter.astro";
import SeoHead from "@components/SeoHead.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <SeoHead slot="head" />
    <link rel="icon" href="/favicon.svg" />
  </head>

  <body>
    <div id="site">
      <header class="sticky top-0 z-50 bg-white border-b border-gray-200">
        <TheNavigation />
      </header>

      <main>
        <slot />
      </main>

      <footer><TheFooter /></footer>
    </div>
  </body>
</html>
