---
import "../styles/global.css";
import "../styles/layout.css";
import CartProvider from "../components/Cart/CartProvider.svelte";
import CartToast from "../components/Cart/CartToast.svelte";
import TheNavigation from "../components/TheNavigation.astro";
import SeoHead from "@components/SeoHead.astro";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <SeoHead slot="head" />
    <link rel="icon" href="/favicon.svg" />
    <ClientRouter />
  </head>

  <body>
    <div id="site">
      <CartProvider client:load />
      <CartToast client:load />
      <header>
        <TheNavigation />
      </header>

      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
